USE [NetExamen]
GO
/****** Object:  Table [dbo].[Lycee]    Script Date: 1/13/2020 9:33:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lycee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
	[NbrPlacs] [int] NULL,
 CONSTRAINT [PK_Lycee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
